html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: "Poppins", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #f8f9fa;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #ced4da;
  border-radius: 8px;
  width: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b5bec7;
}

*::-webkit-scrollbar-track {
  background: #e9ecee;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
